#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  --x: 0;
  --y: 0;
  background: #0a1c2f; /* fallback color */
  background: radial-gradient(
    circle 200px at var(--x) var(--y),
    rgb(13, 45, 81),
    #0a1c2f
  );
  
}

p {
  color: #969bac
}